<head>
    <link rel="stylesheet" href="styles.css">
</head>

<div class="container">
    <div id="Logo-Title">
        <a herf="/index.html" cursor="pointer">
        <div id="Logo">
            <img src="/img/logo/logo.PNG" alt="logo" style="display: inline;"width="10%" height="10%" cursor="pointer">
            <div><h1 style="display: inline; vertical-align: top;">Smile & Sunshine Toy</h1></div>
        </div>
        </a>
    </div>
    <div class="Button">
        <a href="/login.html" style="margin-left: 16px" class="btn">Login</a>
        <a href="/register.html" style="margin-left: 16px" class="btn">Register</a>
        <a href="/forgotPW.html" style="margin-left: 16px" class="btn">Forgot Password</a>
    </div>
</div>