<div class="nav-container">

    <div id="logo">
        <img src="/img/logo/logo.PNG" alt="logo" width="120px" height="120px">
    </div>

    <div class="nav-layer">
        <div class="nav-sublayer">
            <h3>Smile & Sunshine Toy Co, Ltd.</h3>
            <a href="/login.html" class="btn">Login | Register</a>
            <a href="/reportProblem.html" class="btn">Report a problem</a>
        </div>
        <div class="nav-sublayer">
            <a href="/index.html">
                Home pages
            </a>
            <a href="/AboutUs.html">
                About Us
            </a>
            <div class="Button">
            </div>
        </div>
        
    </div>

</div>