<div class="nav-container">

    <div class="logo">
        <img src="/img/logo/logo.PNG" alt="logo">
    </div>

    <div class="nav-layer">

        <div class="nav-sublayer">
            <div class="nav-left">
                <h3>Smile & Sunshine Toy Co, Ltd.</h3>
            </div>
            <div class="nav-right">
                <a href="/login.html" class="btn">Login | Register</a>
                <a href="/reportProblem.html" class="btn">Report a problem</a>
            </div>
        </div>
        
        <div class="nav-sublayer">
            <div class="nav-right">
                <a href="/AboutUs.html" class="btn">About</a>
                <a href="/index.html" class="btn">Contact</a>
            </div>
        </div>
        
    </div>

</div>