body {
    font-family: Calibri;
    margin: 0;
    height: auto;
}

.head-wrapper {
    position: fixed;
    z-index: 10;
    height: 9rem;
    width: 100%;
    display: block;
    background-color: rgba(76, 143, 211, 1);
}

.header-container {
    height: 3rem;
    background-color: rgba(4, 9, 41, 1);
    color: white;
    align-content: center;
    text-align: center;
}

.nav-container {
    height: 6rem;
    display: flex;
    align-items: center;
}

.logo {
    width: 6rem;
    height: 6rem;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-layer {
    width: 100%;
    height: 90px;
    display: block;
}

.nav-sublayer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    background-color: white;
    position: relative;
}

.nav-left {
    height: 3rem;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 1.8rem;
    color: white;
}

.nav-right .btn {
    height: 3rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #376ba3;
}

section {
    top: 9rem;
    position: relative;
}

.background-photo {
    width: 100%
}
