* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 1000px;
}

header {
    margin: 0px;
    height: auto;
    background-color: rgba(4, 9, 41, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
}

header .logo img {
    margin-left: 152px;
    width: 6rem;
    height: 6rem;
}

header .headline {
    margin-left: 10px;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 0;
}

header .headline h2, .headline h3 {
    margin: 5px;
}

header .headline h3 {
    font-style: italic;
}

header .btn {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    flex-wrap: nowrap;
}

header .btn a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: grey;
    border-radius: 4px;
}

header .btn a:hover {
    background-color: darkgrey;
}

nav {
    position: sticky;
    top: 0px;
    background-color: blue;
    width: 100%;
    min-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}

nav .div-nav-margin{
    margin-left: 152.07px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.background-photo {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 400;
}

.horizontal-content {
    display: flex;
    /* justify-content: space-between; */
    background-color: white;
    min-height: 1000px;
}

.searcharea {
    background-color: lightgrey;
    width: 200px;
    padding: 10px;
}

.searcharea input {
    width: 100%;
    min-width: 150px;
    padding: 8px;
    margin-bottom: 10px;
    border-style: double;
    border-radius: 5px;
}

.searcharea button {
    padding: 5px 12px;
    border-radius: 5px;
    border-style: double;
    cursor: pointer;
}

.product-table {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; 
    gap: 15px;
    padding: 10px;
}

.product-item {
    width: 400px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px
}

.product-item .details {
    width: 500px;
    margin-bottom: 10px;
}

.product-item h4 {
    font-size: 18px;
    margin: 5px 0px;
}

.product-item p {
    font-size: 14px;
    margin: 5px 0px;
}

.product-item h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-item .quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-item button {
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

.quantity-display {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

#content-wrapper {
    padding: 10px;
}

#content-wrapper button {
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.flex-container {
    display: flex;
}