body {
    font-family: Calibri;
    margin: 0;
}

.head-wrapper {
    position: fixed;
    height: 120px;
    z-index: 10;
    background-color: rgba(76, 143, 211, 1);
    width: 100%;
    display: block;
}

.header-container {
    height: 30px;
    background-color: rgba(4, 9, 41, 1);
    color: white;
    align-content: center;
    text-align: center;
}

.nav-container {
    display: flex;
    height: 90px;
}

.nav-layer {
    background-color: aquamarine;
    display: block;
    height: 90px;
    width: 100%;
}

.nav-sublayer {
    align-items: center;
    display: flex;
    height: 45px;
}

.content {
    background-color: white;
    position: relative;
    top: 120px;
}

#logo {
    display: flex;
    align-items: center;
}

.btn {
    
    border: none;
    border-radius: 10px;
    background: #FFF06E;
    min-width: 100px;
    height: 45px;
    padding: 0 16px;
    cursor: pointer;
    color: #000 !important;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    /* display: inline-block; */
    line-height: 36px;
    text-decoration: none;
    box-sizing: unset;
}




.container {
    /* max-width: 1200px;
    min-width: 1000px;
    width: 80vw;
    margin: auto;
    padding: 0 16px; */
}
