.container-column {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

.tableview {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
}

.underline {
    text-decoration: underline;
    margin: 10px;
}

thead {
    background-color:antiquewhite;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#customer-orders {
    border-collapse: collapse;
    width: 100%;
}

#customer-orders th,
#customer-orders td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 15%
}

.col3 {
    width: 10%;
}

.col4 {
    width: 10%;
}

.col5 {
    width: 10%;
}

.col6 {
    width: 15%;
}

.col7 {
    width: 15%;
}

.col8 {
    width: 15%;
}

#sort-checkbox, #sort-sequence{
    margin-left: 10px;
    margin-top: 10px;
}

button.sort {
    width: 60px;
    height: 28px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightblue;
    margin-top: 10px;
    margin-left: 10px;
}

button.sort:hover {
    background-color:aliceblue;
}

button.delete {
    width: 60px;
    height: 36px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: pink;
}

button.delete:hover {
    background-color: red;
}

button.normal {
    width: 60px;
    height: 36px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightblue;
    margin-right: 5px;
}

button.normal:hover {
    background-color:aliceblue;
}

.sort-area{
    margin-left: 10px;
    margin-bottom: 20px;
}

