.button {
    width: 60px;
    height: 36px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button.sort:hover {
    background-color: aliceblue;
}

.button.delete {
    background-color: pink;
}

.button.delete:hover {
    background-color: red;
}

.button.normal {
    background-color: lightblue;
}

.button.normal:hover {
    background-color: aliceblue;
}

.buttonE {
    width: 60px;
    height: 36px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}
.buttonE:hover {
    background-color: aliceblue;
}
.buttonE {
    background-color: lightblue;
}
.buttonD {
    width: 60px;
    height: 36px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}
.buttonD:hover {
    background-color: red;
}
.buttonD {
    background-color:pink;
}

img {
    width: 150px;
}